blockquote {
    @apply border-r-4 border-slate-200 pr-2
}
pre {
    direction: ltr;
    @apply  text-left bg-slate-100 px-4 py-2 rounded-lg
}
h2 {
    @apply text-3xl
}

ul {
    list-style: disc;
    padding-right: 18px;
}